:root {
    --b-radius: 0.25rem;

    --clr-neutral-100: #fefefe;
    --clr-neutral-500: #cccccc;
    --clr-neutral-600: #171717;
    --clr-neutral-700: #0f0f0f;
    --clr-accent-primary: #8cfcb2;
    --clr-accent-secondary: #ff9cef;

    --ff-primary: "Poppins", sans-serif;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
}
